
@media only screen and (max-width: 600px) {
    .size{
        font-size:large;
        /* margin-right:1px; */
    }
    .img{
        width:80px;
        height: 80px;
    }
    .imgheight{
        height:45vh;
    }
    .heading{
        font-size: 50px;
        text-align: center;
    }
    .timer{
        color:white;
        text-align: right;
        margin-right:10%;
        padding-top:25%;
        font-size:30px;
       
    }
  }
  @media only screen and (min-width:599px) {
    .size{
        font-size:x-large;
        /* margin-right:1px; */
    }
    .img{
        margin-left:-10%;
        width:100px;
        height:100px;
    }
    .heading{
        font-size: 100px;
        text-align: center;
    }
    .imgheight{
        height:60vh;
    }
    .timer{
        color:white;
        text-align: right;
        margin-right:10%;
        padding-top:7%;
        font-size:50px;
       
    }
  }
  #C4
  {
      font-size: 60px;
      text-align: center;
      color: antiquewhite;
      
     
  }
