
@media only screen and (max-width: 600px) {
  
  .time-line{
    padding-left: 29rem;color: orange;font-size: 60px;
  }
  .content{
    padding: 15px 10px 15px 17px;
    border-radius: 4px;
    width: fit-content;
    margin-top:-30%;
    
}
  #more {display: none;} 
  .main-container{
    position: relative;
    width:100%;
    
}  
  .morebutton{
    color: white;
    background-color: transparent;
   border: 5px solid black;
   border-radius:30px;
   padding-bottom:5px;
   padding-right:13px;
   padding-left:13px;
   margin-left:30%;
   margin-top:5%;
  } 
  .morebutton:hover{
    color: white;
    background-color:black;
   border: 5px solid black;
   border-radius:30px;
   padding-bottom:5px;
   padding-right:13px;
   padding-left:13px;
   margin-left:30%;
   margin-top:5%;
  } 
  .size{
        font-size:large;
       
        /* margin-right:1px; */
    }
    .img{
        width:80px;
        height: 80px;
    }
    .imgheight{
        height:fit-content;
    }
    .heading{
        font-size: 60px;
        text-align: center;
        overflow: hidden;
  
    }
    .timer{
        color:white;
        text-align:center;
        /*padding-top:20%;*/
         margin-top:15%;
        /* margin-left:40%; */ 
        font-size:50px;
        background-color:rgba(0,0,0,0.7);
        width:fit-content;
        height:fit-content;
  
       
    }
    .size1{
        font-size:large;
        /* text-align: right; */
        /* margin-right:1px; */
    }
    .divtimer{
      margin-left:25%;

    }
    .font1{
      
      font-size:xx-large;
    }
    .font{
      text-align: center;
      font-size:20px;
      padding-left:30px;
      padding-right:30px;
      padding-bottom:30px;
    }
  }

  @media only screen and (min-width: 600px) and (max-device-width: 830px) {
    .time-line{
      padding-left: 30rem;color: orange;font-size: 60px;
    }
    .main-container{
      position: relative;
      width:100%;
      
  }
    .content{
      padding: 15px 15px 15px 17px;
      margin-top:-50%;
      border-radius: 4px;
      /* font-size:40px; */
      
  }
 
    .dot{
      display: none;
    }
    .size{
        font-size:large;
       
        /* margin-right:1px; */
    }
    .img{
        width:80px;
        height: 80px;
    }
    .imgheight{
        height:fit-content;
    }
    .heading{
        font-size: 80px;
        text-align: center;
    }
    .timer{
        color:white;
        text-align:center;
        /*padding-top:20%;*/
         margin-top:10%;
        /* margin-left:65%; */
        font-size:60px;
        background-color:rgba(0,0,0,0.7);
        width:fit-content;
        height:fit-content;
  
       
    }
    .size1{
        font-size:large;
        /* text-align: right; */
        /* margin-right:1px; */
    }
    .divtimer{
      margin-left:29%;
      /* margin-top: -85%; */

    }
    .font1{
      margin-top:300%;
      font-size:xx-large;
    }
    .font{
      font-size:30px;
      padding-left:30px;
      padding-right:30px;
    }
  }
/*     @media only screen and (min-width:760px) {
   	.imgheight{
        height:45vh;
    }
   }*/


  @media only screen and (min-width:831px) {
    .time-line{
      padding-left: 58rem;color: orange;font-size: 60px;
    }
    .main-container{
      position: relative;
      width:70%;
      margin-left:15%;
      
  }
  .font1{
    margin-top:10%;
  }
  .font{
    font-size:15px;
    margin-top:5%;
  }
    .content{
      padding: 15px 15px 15px 17px;
      
      border-radius: 4px;
      
  }
    .dot{
      display: none;
    }
    .size{
        font-size:x-large;
       text-align:right;
       /*  margin-right:1px; */
    }
    .size1{
        font-size:x-large;
        text-align: left;
      
        /* margin-right:1px; */
    }
    .img{
        margin-left:1%;
        width:100px;
        height:100px;
    }
    .heading{
        padding-bottom: 190px;
        text-align: center;
        align-self: center;
       	font-size: 150px;

    }
    .imgheight{
        height:fit-content;
    }
    .timer{
        color:white;
        text-align:center;
        /*margin-right:2%;*/
        /*padding-top:20%;*/
    /*    margin-right:10%;*/
        font-size:70px;
        background-color:rgba(0,0,0,0.7);
        width:fit-content;
        height:fit-content;
  
       
    }
    .divtimer{
      margin-left:35%;
      margin-top: -10%;
      /* align-items: center; */
       
    }
  }
  #C4
  {
      font-size: 60px;
      text-align: center;
      color: antiquewhite;     
     


  }

h1 {
  position: relative;
  text-transform: uppercase;
/*	padding-left: 22%;
	padding-bottom: 1.5%;*/

  letter-spacing: 6px;

  font-weight:900px ;
  font-style: bold;
  text-decoration: none;
  color: white;
 /* display: inline-block;*/
 /* background-size: 120% 100%;*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(45deg, 
                    #ff0000, 
                    #e93e38,
                    #c234e6,
                    #340edf);
  animation: .8s shake infinite alternate;
  align-self: center;
}
@keyframes shake {
  0% { transform: skewX(-12deg); }
  2% { transform: skewX(12deg); }
  7% { transform: skewX(-12deg); }
  15% { transform: skewX(12deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}


.hackathonname {
    font-size: 8vw;
    
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-shadow: 0 0 5px white;
    font-weight: 500;
    color: whitesmoke;
    padding-left: 4rem;
}